{% extends 'base.html' %}

{% block title %}To-Do List{% endblock %}
{% block content %}

{% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning alert-dismissable fade show" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
			</button>
		</div>
	{% endfor %}	
{% endif %}

	{% if all_items %}
	<table class="table table-bordered">
		{% for things in all_items %}
			{% if things.completed %}
		<tr class="table-secondary">
			<td class="striker"><a href="{% url 'edit' things.id %}"></a>{{ things.item }}</td>
			<td><a href="{% url 'uncross' things.id %}">Undo</a></center></td>
			<td><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
		</tr>
		{% else %}
		<tr>
			<td><a href="{% url 'edit' things.id %}"></a>{{ things.item }}</td>
			<td><a href="{% url 'cross_off' things.id %}">Check Off</a></center></td>
			<td><center><a href="{% url 'delete' things.id %}">Delete</a></center></td>
		</tr>
			{% endif %}	
		{% endfor %}
	</table>	
	{% endif %}	


{% endblock %}
